.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 50px 30px;
}

@media (min-width: 1024px) {
    .Header {
        flex-direction: row;
        padding: 70px 100px;
    }
}

.Logo {
    flex-grow: 0;
    flex-shrink: 0;
    width: 180px;
}

@media (min-width: 1024px) {
    .Logo {
        width: 270px;
        margin-right: 90px;
    }
}

.Logo svg {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 1024px) {
    .LogoImage svg {
        width: 256px;
        height: auto;
    }
}

.LogoTitle {
    font-weight: 700;
    margin: 4px 0 0 -3px;
    line-height: 48px;
    font-size: 50px;
}

@media (min-width: 1024px) {
    .LogoTitle {
        font-size: 72px;
    }
}

.Introduction {
    margin: 8px 0;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}

.Introduction h2 {
    font-weight: 900;
}

@media (min-width: 1024px) {
    .Introduction {
        width: 380px;
        font-size: 24px;
        line-height: 34px;
    }
}

.ContactButton {
    font-size: 16px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 3px 10px;
    margin-top: 40px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    width: fit-content;
    line-height: 34px;
}

@media (min-width: 1024px) {
    .ContactButton {
        padding: 5px 12px;
        font-size: 20px;
    }
}

.Section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 30px;
}

@media (min-width: 1024px) {
    .Section {
        padding: 70px 100px;
    }
}

.SectionHeader {
    margin: 0 0 30px;
    max-width: var(--content-width);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1024px) {
    .SectionHeader {
        margin: 0 0 70px;
    }
}

.SectionContent {
    max-width: var(--content-width);
}

.SectionTitle {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    flex-grow: 1;
}

@media (min-width: 1024px) {
    .SectionTitle {
        font-size: 36px;
    }
}