.ResumeSection {
  composes: Section from "../Content/Content.module.css";
  --background-color: #2556a2;
  --text-color: white;
}

.Resume {
  margin-top: 0;
  padding-left: 37px;
  padding-bottom: 40px;
  position: relative;
  margin-left: 17px;

  border-left: 3px solid var(--text-color);
}

.Resume::after {
  content: " ";
  display: block;
  background: linear-gradient(transparent, var(--background-color));
  height: 80px;
  position: absolute;
  left: -3px;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 1024px) {
  .Resume {
    border-width: 5px;
    padding-left: 57px;
    margin-left: 12px;
  }

  .Resume::after {
    left: -5px;
  }
}

.ResumeItemHeader {
  align-items: center;
  margin: 16px 0 0;
}

.ResumeItemHeader::before {
  content: " ";
  border: 3px solid var(--text-color);
  background-color: var(--background-color);
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  left: -14px;
  border-radius: 26px;
}

@media screen and (min-width: 1024px) {
  .ResumeItemHeader::before {
    border-width: 5px;
    width: 34px;
    height: 34px;
    left: -19px;
    border-radius: 34px;
  }
}

.active::before {
  box-shadow: inset 0px 0px 0px 5px var(--background-color);
  background-color: var(--text-color);
}

.ResumeItemHeaderPeriod {
  font-size: 12px;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 5px;
}

@media screen and (min-width: 1024px) {
  .ResumeItemHeaderPeriod {
    font-size: 15px;
    line-height: 34px;
  }
}

.ResumeItemHeaderPosition {
  font-size: 20px;
  margin: 0;
  font-weight: 900;
}

@media screen and (min-width: 1024px) {
  .ResumeItemHeaderPosition {
    font-size: 24px;
  }
}

.ResumeItemContent {
  font-size: 16px;
  font-weight: 300;
  margin: 20px 0 40px;
}

@media screen and (min-width: 1024px) {
  .ResumeItemContent {
    font-size: 20px;
    margin: 30px 0 60px;
  }
}

.ResumeHilights {
  font-size: 20px;
  margin: 8px 0;
  font-weight: bold;
}

.ResumeHeader {
  composes: SectionHeader from "../Content/Content.module.css";
}

.ResumeTitle {
  composes: SectionTitle from "../Content/Content.module.css";
}

.ResumeDownload {
  color: var(--text-color);
  text-decoration: underline;

  background-image: url("/images/download.icon.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 30px;
  font-weight: 700;
  font-size: 16px;
}
