.LogoImage {
  display: inline-block;
  width: 100%;
  height: auto;
}

.hidden {
  pointer-events: none;
  display: hidden;
}

.svg {
  width: 100%;
  height: auto;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .LogoImage {
    width: 256px;
    height: auto;
  }
}
